body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    color: #6c757d;
    scroll-behavior: smooth;
}


/* Main Style */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    /* font-size: 30px; */
}

main h1{
    margin-top: 40px;
    color: rgb(53, 42, 42);
    font-weight: 900;
}

main form{
    /* width: 80%; */
    margin-top: 20px;
}

main form div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

main form div input{
    height: 50px;
    width: 300px;
    padding-left: 20px;
    border: 1px solid   #20c997 ;
    transition: 0.15s ease-in-out;
    box-shadow: 2px 3px 2px #6c757d;
    outline:none;
    border-radius: 15px;
    font-size: 20px;
    overflow: visible;
    color: #6c757d;
    /* */
}

main form textarea{
    padding-left: 20px;
    border: 1px solid   #20c997 ;
    transition: 0.15s ease-in-out;
    box-shadow: 2px 3px 2px #6c757d;
    outline:none;
    border-radius: 15px;
    font-size: 20px;
    color: #6c757d;
}

main form .button-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}

main form .button-container input[type=submit]{
    border: 0;
    outline: 0;
    height: 50px;
    width: 180px;
    border: 1px solid #145f9ccc;
    color: #145f9ccc;
    border-radius: 15px;
    text-align: center;
}

main form .button-container input[type=submit]:hover{
    background-color: #145f9ccc;
    color: #ffffff;
}